{% extends 'shopquik/global.html' %}


{% block main_content %}
  <div class="jumbotron">
      <div class="container text-center">
        <h1>Welcome to ShopQuik</h1>
        <p></p>
        {% if user.is_authenticated %}
        <p><a class="btn btn-primary btn-lg" href="/login/signin/profile" role="button">Get Started &raquo;</a></p>
        {% else %}
        <p><a class="btn btn-primary btn-lg" href="/login/signin" role="button">Get Started &raquo;</a></p>
        {% endif %}
      </div>
    </div>
{% endblock %}
