
<!DOCTYPE html>
<html lang="en">
{% extends 'shopquik/global.html' %}
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ShopQuik</a>
        </div>
       <!--/.navbar-collapse -->
          <div class="navbar-form navbar-right">
          <button type="submit" class="btn btn-success">Sign in</button>
          <button type="submit" class="btn btn-primary">Sign up</button>
          </div>
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container text-center">
        <h1>Welcome to ShopQuik</h1>
        <p></p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Get Started &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
      </div>

      <hr>
      <div>
      {% block main_content %}
      {% endblock %}
      </div>
      <footer>
        <p>HackPoly 2017</p>
      </footer>
    </div> <!-- /container -->

  </body>
</html>
