<!DOCTYPE html>
<html lang="en">
{% extends 'shopquik/global.html' %}
<body>
{% block main_content %}
<h1>{{ list_name }}</h1>
<div>
    <form action="{% url 'login:addItem' %}" method="post">
    {% csrf_token %}
    {{ item_form }}
        <input type="hidden" name="list_name" value="{{ list_name }}">
        <button type="submit" class="btn btn-success" name="item_submit" value="Submit">Add</button>
    </form>
</div>
<div class="list-container">
    <table class="table table-striped">
        {% for list in lists %}
            {% for item in list.items.all %}
                <form action="{% url 'login:addItem' %}" method="post">
                    {% csrf_token %}
                    <p>{{ item.item_name }} <button type="submit" class="btn btn-danger" name="item_delete" value="{{item.item_name}}">X</button></p>
                </form>
            {% endfor %}
        {% endfor %}
    </table>
        <a href="{% url 'login:stores' %}" class="btn btn-success" >Done</a>
</div>
{% endblock %}
</body>
</html>