<!DOCTYPE html>
<html lang="en">
{% extends 'shopquik/global.html' %}
<body>
{% block main_content %}
<h1 class="text-center" style="padding-top:20px">{{ store_name }} ShopQuik Guide</h1>
{% load staticfiles %}
<image src="{% static 'shopquik/images/cur_map.jpeg' %}" alt="Missing" height="600" width="80%">
<h2 class="text-center">QuikStops</h2>
<table class="table text-center">
    {% for aisle in aisles_used %}
    <tr>
        <td>Aisle {{ aisle.number }}</td>

        <td>{% for item in list.0.items.all %}
                {% for i in aisle.items.all %}
                    {% if i.item_name == item.item_name %}
                        <p>{{ item }}</p>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>
</body>
{% endblock %}
</html>