<!DOCTYPE html>
<html lang="en">
{% extends 'shopquik/global.html' %}


<body>
{% block main_content %}
<p>Render Map Here:</p>
<image src="{{ map }}">

<table class="table">
    {% for aisle in aisles_used %}
    <tr>
        <td>Aisle {{ aisle.number }}</td>

        <td>{% for item in list.0.items.all %}
                {% for i in aisle.items.all %}
                    {% if i.item_name == item.item_name %}
                        <p>{{ item }}</p>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </td>
    </tr>
    {% endfor %}










</table>
</body>
{% endblock %}
</html>