<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Store Select</title>
</head>
<body>
<form action="{% url 'login:stores' %}" method="POST">
    {% csrf_token %}
    <label>Enter Zip:</label>
    <input type="text" name="address">
    <button class="btn btn-success" type="submit">Search</button>
</form>
<table>
{% for store in store_list %}
<tr>
    <form >
    <td>{{ store.name }}</td>
    <td>{{ store.vicinity }}<input type="hidden" name="store" value="{{ store.vicinity }}"></td>
    <td><button type="submit">Select</button></td>
    </form>
</tr>
{% endfor %}
</table>

</body>
</html>